/* Basic Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

header nav a {
    margin-right: 20px;
    color: white;
    text-decoration: none;
}

section {
    padding: 50px;
    margin: 20px 0;
}

#skills .skill {
    margin: 20px 0;
}

.progress-bar {
    background-color: #ddd;
    border-radius: 10px;
    width: 80%;
    margin-top: 10px;
    height: 20px;
}

.progress {
    background-color: #4caf50;
    height: 100%;
    border-radius: 10px;
}
